.flex {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */

  display: grid;
grid-template-columns: 280px 280px 280px 280px;
grid-gap: 20px;
}

.flex.spaceEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 65px;
  font-weight: normal;
  font-style: italic;
  color: #181d23;
  line-height: 65px;
}

.addButton {
  background-color: #f300b4;
  color: #fff;
  border: 1px solid transparent;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 25px;
  margin-bottom: 30px;
}

.addButton:hover {
  background-color: transparent;
  color: #f300b4;
  border: 1px solid #f300b4;
  transition: .5s;
}

.addButton:disabled {
  background-color: lightgray;
}

.addButton:disabled:hover {
  background-color: transparent;
  color: #f300b4;
  border: 1px solid #f300b4;
  transition: .5s;
}

.card {
  width: 260px;
  height: 380px;
  cursor: pointer;
  }

.buttonWrap {
  text-align: center;
  padding: 2rem;
}
